<!DOCTYPE html>
<html data-ng-app="commentsDemo">
<head>
<title>UI-Comments for AngularJS</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/app.css">




  
<script type="text/ng-template" id="views/comment.html">

  <div class="panel panel-default comment" >
    <div class="panel-heading">
      <h4 class="panel-title">
         <button ng-if="comment.children" class="fa-2x clear-square fa"
        ng-class="{'fa-minus-square': !collapsed, 'fa-plus-square': collapsed}"
        title="toggle children" ng-click="collapse()"></button>
        <button ng-if="!comment.children" class="fa-2x fa clear-square"></button>
        <a data-toggle="collapse" data-parent="#accordion" href="?collapse=collapseOne">
        {{comment.title}}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">{{comment.text}}</div>
         </div>
  <commenter action="addChildComment" toggle="true"></commenter>
    </div>


</script>

<script type="text/ng-template" id="views/comments.html">
<div class="panel-group" id="accordion">
<comment ng-repeat="comment in comments" comment-data="comment"></comment>
 
    
</div>


</script>
</head>

<body data-ng-controller="DemoCtrl">

    
    
<div class="container-fluid">


<div data-ng-view></div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="ui-comments-<%=pkg.version%>.js"></script>
<script src="js/directive/typeahead.js"></script>
<script src="js/directive/commenter.js"></script>
<script src="js/service/github.js"></script>
<script src="js/service/fedora.js"></script>
<script src="js/app.js"></script>

</script>
</body>
</html>