<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
            <!--
        <div class="panel panel-default comment">
        <div class="panel-heading comment-header">
        <button ng-if="comment.children" class="fa-2x clear-square fa"
        ng-class="{'fa-minus-square': !collapsed, 'fa-plus-square': collapsed}"
        title="toggle children" ng-click="collapse()"></button>
        <button ng-if="!comment.children" class="fa-2x fa clear-square"></button>
        <h4>{{comment.title}}</h4>
        <h4 class="comment-user">
        <span class="comment-username" ng-if="!comment.profileUrl">{{comment.name}}</span>
        <a class="comment-username" ng-if="comment.profileUrl" ng-href="{{comment.profileUrl}}"
        title="{{comment.name}}">{{comment.name}}</a>

        <small class="comment-date" ng-if="comment.date" title="{{comment.date | calendar}}">
        {{comment.date.split('T')[0]}} {{comment.date.split('T')[1].split('.')[0]}}
        </small>
        </h4>
        <img class="comment-avatar" ng-if="comment.avatarUrl" ng-src="{{comment.avatarUrl}}"
        alt="{{comment.name}}" />
        </div>
        <div class="comment-body panel-body" ng-bind-html="comment.text"></div>
        <div comments-transclude></div>
        <commenter action="addChildComment" toggle="true"></commenter>
        </div>
        -->
        
              <!--
        <div class="comments">
        <comment ng-repeat="comment in comments" comment-data="comment"></comment>
        </div>
        -->
        
        
        
           <accordion-group is-open="true" >
     <div class="panel-heading">

                        <div class="row">
                         <div class="panel-heading comment-header col-md-2">
        <button ng-if="comment.children" class="fa-2x clear-square fa"
        ng-class="{'fa-minus-square': !collapsed, 'fa-plus-square': collapsed}"
        title="toggle children" ng-click="collapse()"></button>
                            <div class="col-md-8">[ {{comment.title}} </div>
                            
                            <div class="col-md-2"><p class="text-right"><small>{{comment.date.split('T')[0]}}  {{comment.date.split('T')[1].split('.')[0]}}</small></p></div>
                        </div>

                    </div>
    
      <p> {{comment.text}}</p>
         </accordion-group>
    
</html>
